.dashboard{
    display:flex;
    min-height:100vh;
    background:#0b1225;
    color:white;
}

.sidebar{
    width:260px;
    background:#131d36;
    padding:30px;
}

.sidebar h2{
    margin-bottom:40px;
    color:#3b82f6;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:15px;
    margin-bottom:12px;
    background:#1b2648;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.sidebar li:hover{
    background:#3b82f6;
}

.main{
    flex:1;
    padding:40px;
}

.welcome-card{
    background:#1b2648;
    padding:30px;
    border-radius:15px;
}

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-top:30px;
}

.card{
    background:#1b2648;
    padding:30px;
    text-align:center;
    border-radius:15px;
}

.card h2{
    color:#3b82f6;
    margin-bottom:10px;
}

@media(max-width:900px){

.stats{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.dashboard{

flex-direction:column;

}

.sidebar{

width:100%;

}

.stats{

grid-template-columns:1fr;

}

}