.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:0 30px;

}

.hero-content{

max-width:950px;

}

.hero-small{

color:#3b82f6;

font-size:18px;

margin-bottom:20px;

letter-spacing:3px;

}

.hero h1{

font-size:82px;

font-weight:800;

line-height:1.1;

margin-bottom:30px;

}

.hero-description{

font-size:24px;

line-height:42px;

color:#94a3b8;

margin-bottom:50px;

}

.hero-buttons{

display:flex;

justify-content:center;

gap:20px;

}

.primary{

padding:18px 45px;

background:#2563eb;

color:white;

border-radius:14px;

font-size:18px;

}

.secondary{

padding:18px 45px;

background:transparent;

border:2px solid white;

color:white;

border-radius:14px;

font-size:18px;

}