.trusted{

padding:100px 0;

overflow:hidden;

}

.trusted h3{

text-align:center;

font-size:40px;

margin-bottom:60px;

}

.marquee{

overflow:hidden;

white-space:nowrap;

}

.track{

display:flex;

gap:30px;

width:max-content;

animation:scroll 25s linear infinite;

}

.logo-card{

min-width:180px;

height:120px;

background:rgba(255,255,255,.05);

border-radius:20px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(20px);

}

.logo-icon{

font-size:42px;

color:#3b82f6;

margin-bottom:15px;

}

.logo-card p{

font-size:18px;

}

@keyframes scroll{

0%{

transform:translateX(0);

}

100%{

transform:translateX(-50%);

}

}